<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/snapengage">
        <classes>
            <class name="login.SignInTest">
                <methods><include name="testSuccessfulSignIn"/></methods>
            </class>
        </classes>
    </test>
</suite>